* {
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
/*
.header-links {
  width: 100%;
}

#header-links-images li {
  float: right;
}

#header-links-images a {
  display: block;
  padding: 10px;
}
*/

.main {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#logo {
  height: 200px;
}

#google {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#search {
  height: 40px;
  width: 600px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #ddd;
}

#footer-left li {
  float: left;

}

#footer-left a {
  text-decoration: none;
  display: block;
  padding: 10px;
  color: black;
  font-size: 12px;
  font-weight: 100;
}

#footer-right li {
  float: right;
}

#footer-right a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 10px;
  color: black;
  font-size: 12px;
  font-weight: 100;
}
